
@import url(https://fonts.googleapis.com/css?family=Squada+One);
body {
  padding: 20px 80px;
  background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}

#menu {
  width: 100%;
  height: 65px;
  list-style: none;
  margin: 10px 0 0 0; 
  padding: 25px 10px;
  border-top: 4px double #AAA;
  border-bottom: 4px double #AAA;
  position: fixed;
  text-align: left;
	background: rgba(161, 161, 161, 0.25);
	z-index: 1;
}

#menu-headers li {
  display: inline-block;
  width: 300px;
  margin: 0px 10px;
  position: relative;
  -webkit-transform: skewy(-3deg);
  -webkit-backface-visibility: hidden;
  -webkit-transition: 200ms all;
}
#menu-headers li a {
  text-transform: uppercase;
  font-family: 'Squada One', cursive;
  font-weight: 800;
  display: block;
  
  padding: 2px 10px;
  color: #333;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
  background: #FFF;
  text-shadow: 
		1px 1px 0px #FFF, 
		2px 2px 0px #999,
		3px 3px 0px #FFF;
	background-image: -webkit-linear-gradient(top, transparent 25%);
	-webkit-transition: 1s all;
	background-image: -webkit-linear-gradient(left top, 
		transparent 50%, transparent 50%, 
		rgba(0,0,0,.15) 25%, rgba(0,0,0,.15) 25%, 
		transparent 25%, transparent 25%, 
		rgba(0,0,0,.15) 25%);
  background-size: 4px 4px;
	box-shadow: 
		0 0 0 1px rgba(0,0,0,.4) inset, 
		0 0 20px -5px rgba(0,0,0,.4),
		0 0 0px 3px #FFF inset;
}
#menu-headers li:hover {
	width: 203px;
	margin: 0 -5px;
}
#menu-headers a:hover {
  color: #00a38d;
}
#menu-headers li:after,
#menu-headers li:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 100%;
  background: #BBB;
  -webkit-transform: skewY(8deg);
  x-index: -3;
	border-radius: 4px;
}
#menu-headers li:after {
	background-image: -webkit-linear-gradient(left, transparent 0%, rgba(0,0,0,.4) );
  right: 0;
  top: -4px; 
}
#menu-headers li:before {
  left: 0;
  bottom: -4px;
  background-image: -webkit-linear-gradient(right, transparent 0%, rgba(0,0,0,.4) );
}
#menu-icons{
	margin-left: 89%;
	margin-top: -79px;
	display: block;
}

section hr{
	border-top: 3px double #5a4f4f;
	z-index: 1;
}

.middle{
	position: absolute;
	top:55%;
	left: 50%;
	width: 80% ;
	z-index: 2;
	font-weight: bolder ;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	border: 1px solid rgb(0, 0, 0, 0.22);
	border-radius: 5px;
}

.image{
	position: relative;
}
	
.image h1{
    position: absolute;
    top: 7%;
    left: 7%;
    right: 0;
    font-size: 20px;
    width: 100%;
    height: 26px;
    padding: 0;
    margin: 0;
    margin-top: -13px; /* 1/2 height */
	font-weight: 800!important;
	color: #333;
	font-size: 35px;
	text-shadow: 
			1px 1px 0px #FFF, 
			2px 2px 0px #999,
			3px 3px 0px #FFF;
}
.image img{
    width: 100%;
    height: 100%;
    position: absolute;
	border-radius: 30px;
	opacity: 0.3;
}

.grid figure {
	border: thin #c0c0c0 solid;
	position:relative;
  	 display: inline-block;
   	padding:10px;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

.grid figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.grid { 
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;
	align-items: start;
	justify-items: center;
	}

  .grid figure img {
	border: 1px solid rgba(0,0,0,0.3);
	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
	max-width: 100%;
  }
  .grid figure img:hover {
	border: 4px solid rgba(0,0,0,0.3);
	height: 200%;
	width: 200%;
	border-radius: 25px;
  }
  .grid figure:nth-child(2) {
	grid-column: span 3;
	grid-row: span 2;
	max-width: 100%;
  }
  .back{
	background: #FFF;
	text-shadow: 
		  1px 1px 0px #FFF, 
		  2px 2px 0px #999,
		  3px 3px 0px #FFF;
	  background-image: -webkit-linear-gradient(top, transparent 25%);
	  -webkit-transition: 1s all;
	  background-image: -webkit-linear-gradient(left top, 
		  transparent 50%, transparent 50%, 
		  rgba(0,0,0,.15) 25%, rgba(0,0,0,.15) 25%, 
		  transparent 25%, transparent 25%, 
		  rgba(0,0,0,.15) 25%);
	background-size: 4px 4px;
	  box-shadow: 
		  0 0 0 1px rgba(0,0,0,.4) inset, 
		  0 0 20px -5px rgba(0,0,0,.4),
		  0 0 0px 3px #FFF inset;
  }
  .size{
	width:600px;
	 height:400px;
	  opacity: 0.6;
	   position: absolute; 
	   left: 30%; 
	   border-radius: 30px;
	}
	
	#playlist div h2{
		position: absolute;
		bottom: 106%;
    left: 7%;
    right: 0;
    font-size: 20px;
    width: 100%;
    height: 26px;
    padding: 0;
    margin: 0;
    margin-top: -13px; /* 1/2 height */
	font-weight: 800!important;
	color: rgb(17, 2, 2);
	font-size: 35px;
	text-shadow: 
			1px 1px 0px #FFF, 
			2px 2px 0px #999,
			3px 3px 0px #FFF;
	opacity: 1!important;
	}
	
	.animate{
		transition: all .3s;
	}
	
	input[name=question]{
			display: none;
	}
	input[name=question] + label{
			position: relative;
			display: block;
			padding: 20px 20px;
			font-size: 1.2em;
			cursor: pointer;
			background: rgba(246, 246, 246, 1);
			color: #5a9aa8;
			z-index: 2;
			box-shadow: 0 0 10px rgba(0,0,0,.1);
			border-radius: 3px;
			opacity: 0.7;
	}
	.response{
		position: relative;
	  background-image: -webkit-linear-gradient(top, transparent 25%);
	  -webkit-transition: 1s all;
	  background-image: -webkit-linear-gradient(left top, 
		  transparent 50%, transparent 50%, 
		  rgba(0,0,0,.15) 25%, rgba(0,0,0,.15) 25%, 
		  transparent 25%, transparent 25%, 
		  rgba(0,0,0,.15) 25%);
			background-size: 4px 4px;
			color: #222;
			padding: 10px 20px;
			-webkit-transform: translate3d(0,-40px, 0) rotate(-.5deg);
			z-index: 1;
			box-shadow: 0 0 10px rgba(0,0,0,.1);
			opacity: 0;
			border-radius: 3px;
	}
	
	input[name=question]:checked + label{
			color: #000000;
	}

	input[name=question]:checked + label + .response{
			opacity: 1;
			visibility: visible;
			padding: 10px 20px;
			-webkit-transform: translate3d(0, 0, 0) rotate(0deg);
			-webkit-filter: blur(0px);
			margin-bottom: 20px;
			color: rgb(0, 0, 0);
	}
	
	.fixed-height{
			height: 50px;
			overflow: hidden;
			opacity: 1 !important;
	}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 

input[type=submit] {
  background-color: #5a9aa8;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}
 h3{
	position: absolute;
	width: 100%;
	height: 26px;
	margin-top: -45px; 
font-weight: 800!important;
color: rgb(17, 2, 2);
font-size: 35px;
text-shadow: 
		1px 1px 0px #FFF, 
		2px 2px 0px #999,
		3px 3px 0px #FFF;
}
section{
	padding-top: 10%;
	z-index: 0;
}

	